@import "./partials/font";
@import "./partials/breakpoint";
@import "./partials/header";
@import "./partials/footer";
@import "./partials/hero";
@import "./partials/comments";
@import "./partials/maincontent";
@import "./partials/upload";

body {
  color: black;
  margin: 0em;
  margin: 0;
  padding: 0;
}
