.maincontent__title {
  padding-top: 32px;
  margin-left: 16px;
  margin-right: 16px;
  line-height: 32px;
  font-size: 24px;
}
.maincontent__author {
  display: flex;
  padding-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  width: 60%;
  font-size: 14px;
  line-height: 22px;
  align-items: baseline;
}
.maincontent__semicontainer {
  visibility: visible;
}
.maincontent__date {
  padding-left: 8px;
}
.maincontent__icons {
  padding-top: 32px;
  display: flex;
  height: 10px;
  margin-left: 16px;
  margin-right: 16px;
  padding-bottom: 24px;
  border-bottom: 1px solid lightgray;
}
.maincontent__views {
  display: flex;
  align-items: center;
}
.maincontent__iconnumber {
  padding-left: 8px;
}
.maincontent__likes {
  display: flex;
  padding-left: 24px;
  align-items: center;
}
.maincontent__text {
  margin-left: 16px;
  margin-right: 16px;
  padding-top: 24px;
  padding-bottom: 40px;
  font-size: 13px;
  line-height: 20px;
}

@include medium {
  .maincontent__title {
    padding-top: 48px;
    margin-left: 24px;
    margin-right: 24px;
    line-height: 32px;
    font-size: 24px;
  }
  .maincontent__author {
    display: flex;
    padding-top: 24px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    font-size: 14px;
    line-height: 22px;
    align-items: baseline;
  }
  .maincontent__semicontainer {
    display: flex;
    margin-left: 24px;
    margin-right: 24px;
    border-bottom: 1px solid lightgray;
    align-items: baseline;
  }
  .maincontent__icons {
    border-bottom: none;
    margin-left: 0px;
    margin-right: 0px;
  }
  .maincontent__text {
    width: 440px;
    margin-right: 24px;
    margin-left: 24px;
    padding-top: 40px;
    padding-bottom: 64px;
  }
}

@include large {
  .combo1 {
    display: flex;
  }
  .maincontent__title {
    padding-top: 48px;
    margin-left: 180px;
    margin-right: 180px;
    line-height: 32px;
    font-size: 24px;
  }
  .maincontent__author {
    display: flex;
    padding-top: 24px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    font-size: 14px;
    line-height: 22px;
    align-items: baseline;
  }
  .maincontent__semicontainer {
    display: flex;
    margin-left: 180px;
    width: auto;
    border-bottom: 1px solid lightgray;
    align-items: baseline;
  }
  .maincontent__icons {
    border-bottom: none;
    margin-left: 0px;
    margin-right: 0px;
  }
  .maincontent__text {
    width: 440px;
    margin-right: 180px;
    margin-left: 180px;
    padding-top: 40px;
    padding-bottom: 64px;
  }
  .container {
    display: flex;
  }
  .combo2 {
    border-right: 1px solid lightgray;
  }
}
